In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("dataset_mood_smartphone.csv", header="infer").set_index('id')
df.head()

    user_id                     time variable  value
id
1   AS14.01  2014-02-26 13:00:00.000     mood    6.0
2   AS14.01  2014-02-26 15:00:00.000     mood    6.0
3   AS14.01  2014-02-26 18:00:00.000     mood    6.0
4   AS14.01  2014-02-26 21:00:00.000     mood    7.0
5   AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [15]:
# count number of entries for each user_id
df.groupby('user_id').count()

          time  variable  value
user_id
AS14.01  21999     21999  21982
AS14.02  14581     14581  14581
AS14.03  14425     14425  14425
AS14.05  15745     15745  15738
AS14.06  18092     18092  18089
AS14.07  16045     16045  16043
AS14.08   7902      7902   7899
AS14.09  10886     10886  10880
AS14.12  17311     17311  17301
AS14.13  19592     19592  19592
AS14.14   9286      9286   9286
AS14.15   2848      2848   2837
AS14.16   3982      3982   3939
AS14.17  15826     15826  15815
AS14.19  11397     11397  11397
AS14.20   3620      3620   3620
AS14.23  21852     21852  21852
AS14.24  14430     14430  14395
AS14.25  12589     12589  12588
AS14.26  16403     16403  16401
AS14.27  14575     14575  14575
AS14.28  19276     19276  19237
AS14.29  17499     17499  17499
AS14.30  17279     17279  17279
AS14.31  11889     11889  11889
AS14.32  11193     11193  11193
AS14.33  16390     16390  16378

In [ ]:
# count number of entries of the variables
df.groupby('variable').count()