## Setup

In [2]:
import pandas as pd
from pandas_profiling import ProfileReport

In [14]:
df = pd.read_csv("dataset_mood_smartphone.csv", index_col='id')
df.head()

    user_id                     time variable  value
id
1   AS14.01  2014-02-26 13:00:00.000     mood    6.0
2   AS14.01  2014-02-26 15:00:00.000     mood    6.0
3   AS14.01  2014-02-26 18:00:00.000     mood    6.0
4   AS14.01  2014-02-26 21:00:00.000     mood    7.0
5   AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [20]:
sample = df.sample(1000)
sample.head()

         user_id                     time        variable   value
id
172799   AS14.28  2014-04-02 19:24:38.040  appCat.builtin  14.798
1748152  AS14.17  2014-05-05 13:23:26.519   appCat.social  32.140
369091   AS14.05  2014-04-19 11:44:28.262  appCat.builtin  26.549
149963   AS14.25  2014-04-30 15:56:53.137  appCat.builtin  29.199
1169821  AS14.19  2014-04-08 16:58:25.710  appCat.builtin   9.776

In [ ]:
# pandas profiling
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

In [ ]:
# analyse values of "sms" and "call"

## Remove invalid values

In [33]:
# count = df.apply(lambda x : True if (x['variable'] == "circumplex.arousal" and (x['value']>2 or x['value']<-2)) else False, axis=1)
count = df.apply(lambda x : True if (x['variable'] == "circumplex.arousal") else False, axis=1)
print('arousal ' + str(len(count[count == True].index)))

# count = df.apply(lambda x : True if (x['variable'] == "circumplex.valence" and (x['value']>2 or x['value']<-2)) else False, axis=1)
count = df.apply(lambda x : True if (x['variable'] == "circumplex.valence") else False, axis=1)
print('valence ' + str(len(count[count == True].index)))

# -2 < arousal < 2
# is_arousal = df['variable']=="arousal"
# print(is_arousal)
# df.loc(df.value)
# -2 < valence < 2

arousal 5643
valence 5643

In [ ]:
# Normalise `arousal` and `activity` to 1>x>0

In [ ]:
# Remove any negative values
df.loc[df.value < -0, 'my_channel'] = 0

In [ ]:
# 1 < mood < 10

In [ ]:
# 0 < activity <1